<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newweb.persist.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.newweb.domain.user.User">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_locked" jdbcType="BIT" property="userLocked" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, user_password, user_locked
  </sql>
  <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from system_user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.newweb.domain.user.User">
    insert into system_user (id, user_id, user_name, 
      user_password, user_locked)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userLocked,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.newweb.domain.user.User">
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userLocked != null">
        user_locked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userLocked != null">
        #{userLocked,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.newweb.domain.user.User">
    update system_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userLocked != null">
        user_locked = #{userLocked,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="update" parameterType="com.newweb.domain.user.User">
    update system_user
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_locked = #{userLocked,jdbcType=BIT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="findByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from system_user
    where user_name = #{username,jdbcType=CHAR}
  </select>
</mapper>