<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
  "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<typeAliases>

	</typeAliases>

	<mappers>
		<mapper resource="persist/com/newweb/domain/xml/UserMapper.xml" />
		<mapper resource="persist/com/newweb/domain/xml/User_PermissionMapper.xml" />
		<mapper resource="persist/com/newweb/domain/xml/PermissionMapper.xml" />
	</mappers>
</configuration>
