<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newweb.persist.system.MenuMapper">







  





<resultMap id="BaseResultMap" type="com.newweb.domain.system.Menu">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="permission_element_id" jdbcType="BIGINT" property="permissionElementId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_desc" jdbcType="VARCHAR" property="menuDesc" />
  </resultMap>







  





<sql id="Base_Column_List">
    menu_id, permission_element_id, menu_name, menu_desc
  </sql>







  





<select id="page" parameterType="com.newweb.common.util.QueryParameters" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from system_menu
    <if test="params != null">
      <include refid="exampleCondition" />
    </if>
    <if test="sorts != null">
      <foreach collection="sorts" index="key" item="value" open="order by" separator=",">
        ${key} ${value}
      </foreach>
    </if>
    <if test="page != null">
      limit #{page.from} , #{page.size}
    </if>
  </select>







  





<sql id="exampleCondition">
    <where>
      <if test="params.permissionElementId != null">
        and permission_element_id = #{params.permissionElementId}
      </if>
      <if test="params.menuName != null">
        and menu_name like '%${params.menuName}%'
      </if>
      <if test="params.menuDesc != null">
        and menu_desc like '%${params.menuDesc}%'
      </if>
    </where>
  </sql>







  





<select id="count" parameterType="com.newweb.common.util.QueryParameters" resultMap="BaseResultMap">
    select
    count(1)
    from system_menu
    <if test="params != null">
      <include refid="exampleCondition" />
    </if>
  </select>







  





<sql id="exampleCondition">
    <where>
      <if test="params.permissionElementId != null">
        and permission_element_id = #{params.permissionElementId}
      </if>
      <if test="params.menuName != null">
        and menu_name like '%${params.menuName}%'
      </if>
      <if test="params.menuDesc != null">
        and menu_desc like '%${params.menuDesc}%'
      </if>
    </where>
  </sql>







  





<select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_menu
    where menu_id = #{menuId,jdbcType=BIGINT}
  </select>







  





<delete id="delete" parameterType="java.lang.Long">
    delete from system_menu
    where menu_id = #{menuId,jdbcType=BIGINT}
  </delete>







  





<insert id="insert" parameterType="com.newweb.domain.system.Menu">
    insert into system_menu (menu_id, permission_element_id, menu_name, 
      menu_desc)
    values (#{menuId,jdbcType=BIGINT}, #{permissionElementId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, 
      #{menuDesc,jdbcType=VARCHAR})
  </insert>







  





<insert id="insertSelective" parameterType="com.newweb.domain.system.Menu">
    insert into system_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="permissionElementId != null">
        permission_element_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuDesc != null">
        menu_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="permissionElementId != null">
        #{permissionElementId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDesc != null">
        #{menuDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>







  





<update id="updateSelective" parameterType="com.newweb.domain.system.Menu">
    update system_menu
    <set>
      <if test="permissionElementId != null">
        permission_element_id = #{permissionElementId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDesc != null">
        menu_desc = #{menuDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>







  





<update id="update" parameterType="com.newweb.domain.system.Menu">
    update system_menu
    set permission_element_id = #{permissionElementId,jdbcType=BIGINT},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_desc = #{menuDesc,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>






</mapper>