<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newweb.persist.security.UserGroupMapper">

  <resultMap id="BaseResultMap" type="com.newweb.domain.security.UserGroup">
    <id column="group_id" jdbcType="BIGINT" property="groupId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_group_creator" jdbcType="VARCHAR" property="userGroupCreator" />
    <result column="user_group_desc" jdbcType="VARCHAR" property="userGroupDesc" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    group_id, user_id, user_group_creator, user_group_desc, create_time
  </sql>

  <select id="get" parameterType="com.newweb.domain.security.UserGroupKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_user_group
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="com.newweb.domain.security.UserGroupKey">
    delete from system_user_group
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.newweb.domain.security.UserGroup">
    insert into system_user_group (group_id, user_id, user_group_creator, 
      user_group_desc, create_time)
    values (#{groupId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userGroupCreator,jdbcType=VARCHAR}, 
      #{userGroupDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.newweb.domain.security.UserGroup">
    insert into system_user_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userGroupCreator != null">
        user_group_creator,
      </if>
      <if test="userGroupDesc != null">
        user_group_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userGroupCreator != null">
        #{userGroupCreator,jdbcType=VARCHAR},
      </if>
      <if test="userGroupDesc != null">
        #{userGroupDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.newweb.domain.security.UserGroup">
    update system_user_group
    <set>
      <if test="userGroupCreator != null">
        user_group_creator = #{userGroupCreator,jdbcType=VARCHAR},
      </if>
      <if test="userGroupDesc != null">
        user_group_desc = #{userGroupDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </update>

  <update id="update" parameterType="com.newweb.domain.security.UserGroup">
    update system_user_group
    set user_group_creator = #{userGroupCreator,jdbcType=VARCHAR},
      user_group_desc = #{userGroupDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT}
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>