<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newweb.persist.User_PermissionMapper">
  <resultMap id="BaseResultMap" type="com.newweb.domain.User_Permission">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, permission_id, desc
  </sql>
  <select id="get" parameterType="com.newweb.domain.User_PermissionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_user_permission
    where user_id = #{userId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="com.newweb.domain.User_PermissionKey">
    delete from system_user_permission
    where user_id = #{userId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newweb.domain.User_Permission">
    insert into system_user_permission (user_id, permission_id, desc
      )
    values (#{userId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newweb.domain.User_Permission">
    insert into system_user_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.newweb.domain.User_Permission">
    update system_user_permission
    <set>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.newweb.domain.User_Permission">
    update system_user_permission
    set desc = #{desc,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
</mapper>